/* configurações gerais */
* {
    box-sizing: border-box;
}
body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}


/* barra fixa do topo */
header {
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-top: 16px;;
    padding-bottom: 11px;
    padding-right: 22.41px;
    position: fixed;
}

.logo img {
    width: 75px;
    height: 53px;
}

ion-icon {
    font-size: 40px;
    padding-bottom: 24.03px;
}


/* barra final fixa */
footer {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}


footer input {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: none;
    width: 100%;
    padding-left: 17px;
}

footer input:focus{
    outline: none;
  }

.ion-icon {
    font-size: 30px;
    padding-top: 27px;
    padding-right: 18px;
    padding-bottom: 27px;
}

footer ion-icon:hover{
    cursor: pointer;
}
/* quebra de linha das mensagens */
main div {
    word-break: break-all;
}

/* cores das mensagens */
.msg-status {
    background-color: #DCDCDC;
    padding: 15px;
    margin-top: 5px;
    border-radius: 2px;
    
}
.msg-reservadas {
    background-color: #FFDEDE;
    padding: 15px;
    margin-top: 5px;
    border-radius: 2px;
}
.msg-normal {
    background-color: #FFF;
    padding: 15px;
    margin-top: 5px;
    border-radius: 2px;
}

.margem {
    height: 106px;
    background-color: #F3F3F3;
}

main p {
    font-size: 14px;
}

main span {
    color: #AAAAAA;
}

.margem-bottom {
    height: 82px;
    background-color: #F3F3F3;
    margin-top: 5px;
}

/* tela de login */
.tela-login {
    z-index: 5;
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tela-login img {
    width: 130px;
    height: 92px;
    top: 0;
}
.input-nome {
    margin-top: 70px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.input-nome::placeholder {
    opacity: 1;
    color: #000000;
    font-style: italic;
}

.input-nome:-ms-input-placeholder {
    color: #000000;
    font-style: italic;
}

.input-nome::-ms-input-placeholder {
    color: #000000;
    font-style: italic;
} 


.input-nome input {
    padding: 15px;
    width: 261px;
}
.logar {
    margin-top: 20px;
}
.logar button {
    /* border-radius: 9px; */
    height: 45px;
    width: 109px;
    padding: 20px;
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    border-radius: 9px;
    padding: 15px;
}
.logar button p {
    color: #696969;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
   
}
.logar button:hover{
    cursor: pointer;
}
.escondido {
    display: none;
}

